html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body{
  font-family: 'Baloo 2', cursive;
  /* font-family: 'Titan One', cursive;
  font-family: 'Bangers', cursive;
  font-family: 'Press Start 2P', cursive; */
}
nav{
  background-color: #DE0;
  color: #fff;  
}
img {
  max-width: 100%;
}
p {
  font-size: 1em;
  font-family:  'Baloo 2', cursive,Verdana, Geneva, Tahoma, sans-serif;
  color: var(--text);
}