.uk-navbar-container.uk-light:not(.uk-navbar-transparent):not(.uk-navbar-primary) {
  height: 6em;
  background-image: url(../img/Bajo.png);
  background-size: unset;
}

#mobile-navbar .uk-offcanvas-bar {
  box-shadow: 2px 0 5px 0 #0e0e0e;
}
#mobile-navbar li:nth-child(1),
#mobile-navbar li:nth-child(2),
#mobile-navbar li:nth-child(3) {
  border-left: unset;
}
#mobile-navbar li {
  padding-left: 5px;
  border-left: 2px solid transparent;
}
#mobile-navbar li.uk-active {
  padding-left: 5px;
  border-left: 2px solid #545454;
}

.uk-sticky-fixed {
  box-shadow: 0 1px 5px 0 #0e0e0e;
}
.margin{
  padding: 2em 1em 2em 1em;
}
.button{
  background-color: #f5ce34;
  border-radius: 0.3em;
  margin-top: 20px;
}
.slide-content img{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 4px;
}
.textOverImage{
  position: relative;
  width: 100%;
  height: 18em;
  float: left;
  margin: 4px;
  background-size: 100%; 
  background-position: center;
  transition: 0.5s;     
}
.textOverImage:hover{
  background-size: 110%;
}
.textOverImage::after{
  position: absolute;
  top:100%;
  bottom:0;
  left:0;
  right:0;
  white-space: pre-wrap;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  color:#fff;
  padding:0 8px;
  opacity:0;
  content: attr(data-text);
  transition: 0.5s;
}

.textOverImage:hover:after{
 opacity:1; 
 top:0;
 padding:8px;
 margin-top: 50%; 
}
.textOverImage:first-line{
  color:#fff;
  font-weight:bold;
  font-size:1.5em;
}
.GFG { 
  text-shadow: 0 0 4px #000, 0 0 6px darkgray;
} 
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1em;
  background-color: rgba(212, 209, 209, 0.9);
  border-radius: 0.3em;
  --webkit-box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 11px 15px -9px rgba(0, 0, 0, 0.65);
  margin-bottom: 3em;
}
@media (min-width: 768px) {
  .extras-container {
    display: flex;
    justify-content: space-between;
  }
  .card {
    flex: 0 0 calc(33.3% - 1 em);
  }
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-left: 15px;
}
.card-container {
  padding: 2px 16px;
}

.login-html
{
  background-color: #DE0000;
  background-image: url(../img/toon.png);
  background-size: 50% ;
  background-position:center 520px;
  background-repeat:no-repeat;
}
.login-hero {
  height: 28.165em;
  background-image: url(../img/Cartoons.jpg);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-hero::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.35);
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.hero-content {
  position: relative;
  z-index: 1;
  flex: 1;
  padding-bottom: 2em;
  text-align: center;
}
.login-button{
  background-color: #f5ce34;
  border-radius: 0.3em;
  margin-top: 20px;
}
.login-button:hover{
  background-color: #e9c303;
  transition: 1s;
  box-shadow: 0 7px 5px 0 rgba(0, 0, 0, 0.24),
  0 17px 50px 0 rgba(0, 0, 0, 0.19);
  z-index: 3;
}

/*Footer*/

.footer-distributed {
  background: rgb(172, 172, 172);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  text-align: left;
  padding: 40px 60px 20px;
  overflow: hidden;
}

.footer-distributed .footer-left {
  float: left;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Roboto", cursive;
  margin: 0 0 10px;
}
.image-foot{
  margin-block-end: 10px;
}
.footer-distributed h3 span html{
  color: #333;
}
.contact svg{
  color: #fff;
}
.footer-icons svg{
  color: rgb(141, 141, 141);
  width: 40px;
  height: 40px;
  margin: 5px 5px;
}
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-icons {
  margin-top: 10px;
}
.footer-distributed h2 {
  margin-block-end: 0;
}

.footer-distributed ul {
  margin-block-start: 0;
}
.footer-distributed form {
  margin-top: 0;
}
.footer-distributed .footer-icons a {
  display: inline-block;
  width: 55px;
  height: 55px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-right {
  float: right;
}

.footer-distributed .footer-right p {
  display: inline-block;
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: #ffffff;
}

.footer-distributed form {
  display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea {
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color: #d1d2d2;
  width: 400px;
  padding: 5px;
}

.footer-distributed ::-webkit-input-placeholder {
  color: #5c666b;
}

.footer-distributed ::-moz-placeholder {
  color: #5c666b;
  opacity: 1;
}

.footer-distributed :-ms-input-placeholder {
  color: #5c666b;
}

.footer-distributed form input {
  height: 55px;
  margin-bottom: 15px;
}

.footer-distributed form textarea {
  height: 100px;
  margin-bottom: 20px;
}

.footer-distributed form button {
  border-radius: 3px;
  background-color: #33383b;
  color: #ffffff;
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
  float: right;
}
.footer-distributed .footer-left li{
  font-size: 20px;
}

@media (max-width: 1000px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-company-name {
    font-size: 12px;
  }

  .footer-distributed form input,
  .footer-distributed form textarea {
    width: 250px;
  }

  .footer-distributed form button {
    padding: 10px 35px;
  }
}

@media (max-width: 800px) {
  .footer-distributed {
    padding: 30px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    float: none;
    max-width: 300px;
    margin: 0 auto;
  }

  .footer-distributed .footer-left {
    margin-bottom: 40px;
  }
  .footer-distributed form {
    margin-top: 30px;
  }

  .footer-distributed form {
    display: block;
  }

  .footer-distributed form button {
    float: none;
  }
}
.text-input{
  padding: .7rem 1rem;
  display: block;
  width: 80%;
  border-radius: 5px;
  border: 1px solid white;
}

.btn{
  padding: .5rem 1rem;
  background: grey;
  color: white;
  border:1px solid transparent;
  border-radius: .25rem;
}

.btn:hover{
  color: black;
  background: whitesmoke;
}

.btn-big{
  padding: .7rem 1.3rem;
  line-height: 1.3rem;
}

.bgimg-1 {
  position: relative;
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: Contain;
  
}
.bgimg-1 {
  background-image: url(../img/slider/descarga.png);
  min-height: 100%;  
}

@media only screen and (max-device-width: 1024px) {
  .bgimg-1 {
    background-attachment: scroll;
  }
}

.caption {
  width: 100%;
  height: 350px;
  margin: 0 4px;
}